<section id="cart_items">
    <div class="container">
      <div class="breadcrumbs">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Shopping Cart</li>
        </ol>
      </div>
      <div class="table-responsive cart_info">
        <div id="product-index-list">
          <%= render 'order_items/list', order_items: @order_items %>
        </div>
      </div>
    </div>
  </section> <!--/#cart_items-->
