table.table.table-hover
  thead
    tr
      th
        | Name
      th
        | Description
      th
        | Option
  tbody
    - category.each do |c|
      tr
        td
          = c.name
        td
          = c.description
        td
          = link_to 'Edit', admin_category_path(id: c.id),class: "btn btn-outline-info"
          |  <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#myModalXoa" data-masp=
          = c.name
          |  data-mass=
          = c.id
          |  >Delete